@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';
@source "../libs/ui";

:root {
  color-scheme: light;
  --gap: 0.5rem;
  --radius: 0.625rem;
}

:root.dark {
  color-scheme: dark;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --button-primary: blue;
  --button-warning: yellow;
  --button-success: green;
  --button-danger: red;
  --slider-width: 4vw;
  --slider-range-color: red;
  --table-header-background: blue;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);

  .button-primary:not([disabled]) {
    background-color: var(--button-primary) !important;
    cursor: pointer;
  }

  .button-warning:not([disabled]) {
    background-color: var(--button-warning) !important;
    color: var(--primary-foreground) !important;
    cursor: pointer;
  }

  .button-success:not([disabled]) {
    background-color: var(--button-success) !important;
    cursor: pointer;
  }

  .button-danger:not([disabled]) {
    background-color: var(--button-danger) !important;
    cursor: pointer;
  }

  .table-row-highlighted {
    animation: highlight-row 2s infinite;

    @keyframes highlight-row {
      0% {
        background-color: var(--background) !important;
        color: var(--foreground) !important;
        border-color: var(--foreground) !important;
      }
      100% {
        background-color: var(--foreground) !important;
        color: var(--background) !important;
        border-color: var(--background) !important;
      }
    }
  }

  .table-row-selected {
    background-color: var(--foreground) !important;
    color: var(--background) !important;
    border-color: var(--background) !important;
  }

  hlm-select hlm-select-trigger button {
    width: 100% !important;
  }
  hlm-slider div[data-slot='slider-track'] {
    width: var(--slider-width) !important;
  }
  hlm-slider div[data-slot='slider-range'] {
    background-color: var(--slider-range-color) !important;
  }
  hlm-card-header h1 {
    font-weight: bold;
  }
  hlm-slider [brnSliderThumb] {
    display: none !important;
  }
  hlm-slider[data-disabled] {
    opacity: 1 !important;
    pointer-events: none;
  }

  hlm-slider [brnSliderRange]::before {
    content: '';
    position: absolute;
    top: -4%;
    right: 4%;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    background-color: red;
    animation: up-down 1s infinite;
    box-shadow:
      -40px 0 0 red,
      /* دایره دوم */ -20px 0 0 red,
      -60px 0 0 red;
    @keyframes up-down {
      0% {
        top: -10%;
      }
      50% {
        top: -2%;
      }
    }
  }
  hlm-slider [brnSliderRange]::after {
    content: '';
    position: absolute;
    top: -4%;
    right: 22%;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    background-color: red;
    animation: up-down 3s infinite;
    box-shadow:
      -35px 0 0 red,
      -25px 0 0 red,
      -15px 0 0 red;
    @keyframes up-down {
      0% {
        top: -4%;
      }
      50% {
        top: -3%;
      }
    }
  }
}
